<div class="row">
    <div class="col-12 mt-1 mb-2">
      <button class="btn btn-info" routerLink="add-product">Add a new Product</button>
     <form class="form-inline float-right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <form id="add_product_form" [formGroup]="addProductForm" (ngSubmit)="addNewProduct()">
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" 
          class="form-control"
          id="productName"
          placeholder="Enter a product name"
          formControlName="name">
          <small class="form-text text-warning" 
          *ngIf="!addProductForm.get('name').valid && addProductForm.get('name').touched">
          The name is mandatory
        </small>
        </div>
        <div class="form-group">
            <label for="productPrice">Product Price</label>
            <input type="text" 
            class="form-control"
            id="productPrice"
            placeholder="Enter a price"
            formControlName="price">
          </div>
          <div class="form-group">
              <label for="productDescription">Product Description</label>
              <input type="text" 
              class="form-control"
              id="productDescription"
              placeholder="Enter a description"
              formControlName="description">
            </div>
        
        <button type="submit" class="btn btn-warning" [disabled]="!addProductForm.valid">Submit</button>
      </form>
    
    <div class="col-12 mb-5">
    <div class="row">
        <div *ngFor="let i of laptops; let x = index" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
      <app-item [laptop]="i"></app-item>
      </div>
      
    </div>
    </div>
    </div>