<div class="container-fluid">
<div class="row">
 <app-navbar></app-navbar>
</div>
<div class="row">
  <div class="col-3">
    This component is the sidebar
  </div>
  <div class="col-7">
      This component is the Main content
    <div class="row">
      <div class="col-3"> this component is Item of index 1</div>
      <div class="col-3"> this component is Item of index 2</div>
      <div class="col-3"> this component is Item of index 3</div>
      <div class="col-3"> this component is Item of index 4</div>
    </div>
    
  </div>
  <div class="col-2">
    This component is the aside
  </div>
</div>

</div>